In [1]:
import pandas as pd

df = pd.read_excel(r'C:\Users\Ashton Internship\Desktop\Chat With Excel\Operator List.xlsx')

df.head()

,Region,Country,Operator,Remarks,Country code,MCC/MNC,Direct/Sponsored,Handset Display 1,Handset Display 2,Network tie-up,Prefered List
0,ASIA & MIDDLE EAST,Afghanistan,Afghanistan Wireless Communication (AWCC),NaN,93,41201,Direct,AF AWCC,AWCC,2G/3G/LTE,Preferred 1
1,EUROPE,Andorra,S.T.A (MOBILAND),NaN,376,21303,Direct,ANDORRA-MOBILAND,M-AND,2G/3G/LTE/VOLTE,Preferred 1
2,CENTRAL & LATIN AMERICA,Anguilla,Cable & Wireless (West Indies) Ltd. Anguilla,NaN,1-264,365840,Direct,FLOW,FLOW,2G/3G/LTE,Preferred 2
3,CENTRAL & LATIN AMERICA,Anguilla,Mossel (Jamaica) Ltd (Digicel) - NETWORK ESTEN...,NaN,1-264,338050/338880,Direct,Digicel,Digicel,2G/3G/LTE,Preferred 1
4,CENTRAL & LATIN AMERICA,Antigua and Barbuda,Digicel antigua e barbuda - NETWORK ESTENSION ...,NaN,1-268,338884,Direct,Digicel,digicel,2G/3G/LTE,Preferred 1

In [2]:
# Also, column names with spaces can be tricky and cause unexpected errors, so let us replace the spaces with underscores
df.rename(columns={"Country code": "country_code", "Handset Display 1": "handset_display_1","Handset Display 2": "handset_display_2","Network tie-up":"network_tie_up","Prefered List":"prefered_list"}, inplace=True)
df.head()

,Region,Country,Operator,Remarks,country_code,MCC/MNC,Direct/Sponsored,handset_display_1,handset_display_2,network_tie_up,prefered_list
0,ASIA & MIDDLE EAST,Afghanistan,Afghanistan Wireless Communication (AWCC),NaN,93,41201,Direct,AF AWCC,AWCC,2G/3G/LTE,Preferred 1
1,EUROPE,Andorra,S.T.A (MOBILAND),NaN,376,21303,Direct,ANDORRA-MOBILAND,M-AND,2G/3G/LTE/VOLTE,Preferred 1
2,CENTRAL & LATIN AMERICA,Anguilla,Cable & Wireless (West Indies) Ltd. Anguilla,NaN,1-264,365840,Direct,FLOW,FLOW,2G/3G/LTE,Preferred 2
3,CENTRAL & LATIN AMERICA,Anguilla,Mossel (Jamaica) Ltd (Digicel) - NETWORK ESTEN...,NaN,1-264,338050/338880,Direct,Digicel,Digicel,2G/3G/LTE,Preferred 1
4,CENTRAL & LATIN AMERICA,Antigua and Barbuda,Digicel antigua e barbuda - NETWORK ESTENSION ...,NaN,1-268,338884,Direct,Digicel,digicel,2G/3G/LTE,Preferred 1

In [3]:
# We can check out the length of the dataframe
len(df)

281

In [4]:
import sqlite3

# Create a connection to a local database (This will create a file called mydatabase.db)
db = sqlite3.connect('jio.db')

# Copy the dataframe to our SQLite database
df.to_sql('operator_list', db, if_exists='replace')

281

In [5]:
from langchain_community.utilities import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///jio.db")
print(db.dialect)
print(db.get_usable_table_names())

#Testing the db replies

db.run("SELECT Region FROM operator_list LIMIT 10;")

sqlite
['operator_list']

"[('ASIA & MIDDLE EAST',), ('EUROPE',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('CENTRAL & LATIN AMERICA',), ('OCEANIA',), ('OCEANIA',)]"

In [ ]:
from langchain_ollama import ChatOllama

# llm = ChatOllama(model = "deepseek-r1", temperature = 0.2,num_gpu = 1,verbose = False)
llm = ChatOllama(model = "llama3.2", temperature = 0.2,num_gpu = 1,verbose = False)
# llm = ChatOllama(model = "mistral", temperature = 0.2,num_gpu = 1,verbose = False)

In [ ]:
def getDatabaseSchema():
    return db.get_table_info() if db else "Please connect to database"

In [ ]:
print(getDatabaseSchema())

CREATE TABLE operator_list (
	"index" INTEGER,
	"Region" TEXT,
	"Country" TEXT,
	"Operator" TEXT,
	"Remarks" TEXT,
	country_code TEXT,
	"MCC/MNC" TEXT,
	"Direct/Sponsored " TEXT,
	handset_display_1 TEXT,
	handset_display_2 TEXT,
	network_tie_up TEXT,
	prefered_list TEXT
)

/*
3 rows from operator_list table:
index	Region	Country	Operator	Remarks	country_code	MCC/MNC	Direct/Sponsored 	handset_display_1	handset_display_2	network_tie_up	prefered_list
0	ASIA & MIDDLE EAST	Afghanistan	Afghanistan Wireless Communication (AWCC)	None	93	41201	Direct	AF AWCC	AWCC	2G/3G/LTE	Preferred 1
1	EUROPE	Andorra	S.T.A (MOBILAND)	None	376	21303	Direct	ANDORRA-MOBILAND	M-AND	2G/3G/LTE/VOLTE	Preferred 1
2	CENTRAL & LATIN AMERICA	Anguilla	Cable & Wireless (West Indies) Ltd. Anguilla	None	1-264	365840	Direct	FLOW	FLOW	2G/3G/LTE	Preferred 2
*/

In [ ]:
from langchain_core.prompts import ChatPromptTemplate

# template = """
#     Below is the schema of MYSQL database, read the schema carefully about the table and column names. Also take care of table or column name case sensitivity.
#     Finally answer user's question in the form of SQL query.

#     {schema}

#     please only provide the SQL query and nothing else

#     for example:
#     question: how many albums we have in database
#     SQL query: SELECT COUNT(*) FROM album
#     question: how many customers are from Brazil in the database ?
#     SQL query: SELECT COUNT(*) FROM customer WHERE country=Brazil

#     your turn :
#     question: {question}
#     SQL query :
#     please only provide the SQL query and nothing else
# """

template = """You are an expert in generating SQL queries. Below is the schema of a MySQL database. Read the schema carefully, paying attention to table names, column names, and case sensitivity.

Your task is to generate a syntactically correct SQL query that answers the user's question based on the given schema. **Only provide the SQL query and nothing else**—no explanations, no comments.

### **Schema:**  
{schema}

### **Instructions:**  
- Use **only** the provided tables and columns in the schema.  
- Be **mindful of case sensitivity** for table and column names.  
- If the user doesn't specify a limit, do **not** fetch excessive records.  
- Do **not** generate queries for non-existent tables or columns.  

### **Examples:**  
**Question:** How many albums are in the database?  
**SQL Query:** SELECT COUNT(*) FROM album;

**Question:** How many customers are from Brazil?  
**SQL Query:** SELECT COUNT(*) FROM customer WHERE country = 'Brazil';

### **Your Turn:**  
**Question:** {question}  
**SQL Query:**  
"""

prompt = ChatPromptTemplate.from_template(template)

In [ ]:
def runChain(question):
    chain = prompt | llm

    response = chain.invoke({
        "question": question,
        "schema": getDatabaseSchema()
    })
    return response.content

In [ ]:
def getResponseForQueryResult(question, query, result):
    template2 = """You are an AI assistant skilled in SQL and natural language processing. Your task is to generate **a user-friendly response** based on a SQL query result.

Below is the schema of a MySQL database. Read the schema carefully to understand the structure, including table and column names.

### **Schema:**  
{schema}

### **Instructions:**  
- Look at the conversation history if available.  
- Read the **SQL query** and its **result set** carefully.  
- Respond in **natural, conversational language** while keeping the response **concise and informative**.  
- Maintain a friendly and professional tone.  
- If the result is empty (`[]` or `None`), respond accordingly (e.g., "There are no customers from Brazil in the database.").  

### **Examples:**  

**Question:** How many albums are in the database?  
**SQL Query:** SELECT COUNT(*) FROM album;
**Result:** `[(34,)]`  
**Response:** There are 34 albums in the database.  

**Question:** How many customers are from India?  
**SQL Query:** `ELECT COUNT(*) FROM customer WHERE country = 'India';
**Result:** `[(4,)]`  
**Response:** There are 4 customers from India in the database.  

**Question:** How many purchases were made last month?  
**SQL Query:** SELECT COUNT(*) FROM orders WHERE order_date >= '2024-02-01' AND order_date < '2024-03-01';
**Result:** `[(87,)]`  
**Response:** There were 87 purchases made last month.  

### **Your Turn:**  
**Question:** {question}  
**SQL Query:** {query}  
**Result:** {result}  
**Response:**  
    """

    prompt2 = ChatPromptTemplate.from_template(template2)
    chain2 = prompt2 | llm

    response = chain2.invoke({
        "question": question,
        "schema": getDatabaseSchema(),
        "query": query,
        "result": result
    })

    return response.content

In [ ]:
question = "What are the operators that work in Kuwait?"

query = runChain(question)

print(query)

 SELECT Operator
   FROM operator_list
   WHERE Country = 'Kuwait';

In [ ]:
import re

def extract_sql_from_response(response_text):
    # Regex pattern to match SQL queries within triple backticks
    match = re.search(r"```sql\n(.*?)\n```", response_text, re.DOTALL)
    if match:
        return match.group(1).strip()  # Extract only the SQL query
    else:
        # If no triple backticks, try extracting based on common SQL keywords
        match = re.search(r"(SELECT|UPDATE|DELETE|INSERT).*?;", response_text, re.DOTALL | re.IGNORECASE)
        return match.group(0).strip() if match else None

formatted_response = extract_sql_from_response(query)

result = db.run(formatted_response)

print(result)

[('OOREDOO (formerly National Mobile Telecommunications Co (Wataniya Telecom))',), ('Mobile Telecommunications Co. (MTCNet)',), ('KTC (Viva)',)]

In [ ]:
response = getResponseForQueryResult(question, query, result)

print(response)

 There are three operators that work in Kuwait: Ooredoo (formerly National Mobile Telecommunications Co, previously known as Wataniya Telecom), MTCNet, and KTC (Viva).